
@using System.Web.Razor
@using System.Web.UI.WebControls
@model List<_1_AdressBook.Models.PersonModel>


<div class="col-lg-10 offset-lg-1 align-center mt-5">
	<div class="d-flex justify-content-between">
		<div class="col-lg-12">
			@if (TempData["succes"] != null)
			{
				if ((string)(TempData["succes"]) != "")
				{
					<div class="alert alert-success text-center" role="alert">
						<h4 class="alert-heading text-center">Sukces</h4>
						<p>@TempData["succes"]</p>
					</div>
				}
			}
		</div>
	</div>
	<div class="d-flex justify-content-between text-center align-center">
		<div class="col-lg-12">
			@if (TempData["error"] != null)
			{
				if ((string)(TempData["error"]) != "")
				{
					<div class="alert alert-danger text-center" role="alert">
						<h4 class="alert-heading text-center">Niepowodzenie</h4>
						<p>@TempData["error"]</p>
					</div>
				}
			}
		</div>
	</div>
	<div class="card">
		<h5 class="card-header">Opcje</h5>
		<div class="card-body">
			<div class="d-flex justify-content-between">
				<div class="col-lg-6">
					@Html.ActionLink("Dodaj Wpis", "Add", null, new { @class = "btn btn-outline-warning" })
				</div>

				<div class="col-lg-6 float-right">
					@using (Html.BeginForm("Index", "Person", new { page = 1 }, FormMethod.Get, new { @class = "float-right" }))
					{
						<div class="d-flex">
							<div>
								@Html.TextBox("filter", "", new { @class = "form-control" })
							</div>
							<div>
								<button type="submit" class="btn btn-outline-secondary float-right">Szukaj</button>
							</div>
						</div>
					}
				</div>
			</div>
		</div>
	</div>
	@if (TempData["Filter"] != null)
	{
		@Html.Action("Table", "Person", new { page = 1, filter = TempData["Filter"].ToString() })
	}
	else
	{
		@Html.Action("Table", "Person")
	}
</div>
