
@using System.Web.Razor
@using System.Web.UI.WebControls
@model List<_1_AdressBook.Models.PersonModel>


<div class="col-lg-10 offset-lg-1 align-center mt-5">
	<div class="d-flex justify-content-between">
		<div class="col-lg-12">
			@if (TempData["succes"] != null)
			{
				if ((string)(TempData["succes"]) != "")
				{
					<div class="alert alert-success text-center" role="alert">
						<h4 class="alert-heading text-center">Sukces</h4>
						<p>@TempData["succes"]</p>
					</div>
				}
			}
		</div>
	</div>
	<div class="d-flex justify-content-between text-center align-center">
		<div class="col-lg-12">
			@if (TempData["error"] != null)
			{
				if ((string)(TempData["error"]) != "")
				{
					<div class="alert alert-danger text-center" role="alert">
						<h4 class="alert-heading text-center">Niepowodzenie</h4>
						<p>@TempData["error"]</p>
					</div>
				}
			}
		</div>
	</div>
	<div class="d-flex justify-content-between">
		<div class="col-lg-6">
			@Html.ActionLink("Dodaj Wpis", "Add", null, new { @class = "btn btn-warning" })
		</div>

		<div class="col-lg-6 float-right">
			@using (Html.BeginForm("Index", "Person", new { page = 1 }, FormMethod.Post, new { @class = "float-right" }))
			{
				<button type="submit" class="btn-secondary float-right">Filtruj</button>
				@Html.TextBox("filter", "", new { @class = "text-info float-right" })
			}
		</div>
	</div>
	<table class="table table-dark align-center mt-2 text-center">
		<thead>
			<tr>
				<th>ID</th>
				<th>FirstName </th>
				<th>LastName </th>
				<th>Phone</th>
				<th>Email</th>
				<th>Created</th>
				<th>Updated</th>
				<th style="width: 180px">Akcja</th>
			</tr>
		</thead>
		<tbody>
			@foreach (var element in Model)
			{
				<tr>
					<td>@Html.DisplayFor(x => element.ID)</td>
					<td>@Html.DisplayFor(x => element.FirstName)</td>
					<td>@Html.DisplayFor(x => element.LastName)</td>
					<td>@Html.DisplayFor(x => element.Phone)</td>
					<td>@Html.DisplayFor(x => element.Email)</td>
					<td>@element.GetCreated()</td>
					<td>@element.GetUpdated()</td>
					<td>
						@Html.ActionLink("Edytuj", "Edit", new { element.ID }, new { @class = "btn btn-info float-left" })
					@Html.ActionLink("Usuń", "Remove", new { element.ID }, new { @class = "btn btn-danger float-right" })
				</td>
			</tr>
		}
		</tbody>
	</table>
	<div class="d-flex justify-content-between">
		<div class="col-lg-6">
			@if ((int)TempData["CurrentPage"] != 1)
			{
				@Html.ActionLink("Poprzednia Strona", "Index", new { page = (int)TempData["CurrentPage"] - 1 }, new { @class = "btn btn-success" })
			}
		</div>
		<div class="col-lg-6 float-right">
			@Html.ActionLink("Następna Strona", "Index", new { page = (int)TempData["CurrentPage"] + 1 }, new { @class = "btn btn-success float-right" })
		</div>
	</div>
</div>
